VITE_FIREBASE_API_KEY=AIzaSyDsgxObKOmvjy1bbY44dK8PUdJqbo3hSqw
VITE_FIREBASE_AUTH_DOMAIN=login-at-ai-recruiter.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=login-at-ai-recruiter
VITE_FIREBASE_STORAGE_BUCKET=login-at-ai-recruiter.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=164349966712
VITE_FIREBASE_APP_ID=1:164349966712:web:b9aa9d22c216005194708d
